<!DOCTYPE html>
<html lang="pt-br" ng-app="livrariaApp">
<head>
	<meta charset="UTF-8">
	<title>Livaria - Henrique Firmino</title>
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="~/css/gradeDeLivros.css" />
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="~/js/app.js"></script>
	<script type="text/javascript" src="~/js/directive/filtroDaGrade.directive.js"></script>
	<script type="text/javascript" src="~/js/directive/gradeDeLivros.directive.js"></script>

</head>
<body>
	<filtro-da-grade></filtro-da-grade>
	<grade-de-livros></grade-de-livros>
</body>
</html>