<div>
	<filtro-da-grade conteudo="conteudo"></filtro-da-grade>
	{{conteudo.ordenacaoDaBusca}}
	<div class="gradeDeLivros" ng-repeat="livro in conteudo.livros | filter : conteudo.termoDeBusca">
		<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
		<p>Título: {{livro.titulo}}</p>
		<p>Gênero: {{livro.genero}}</p>
		<p>Data de publicação: {{livro.dataPublicacao}}</p>
		<p>Páginas: {{livro.pagina}}pág</p>
		<p>Autor: {{livro.autor}}</p>
		<p>Editora: {{livro.editora}}</p>
		<p>Descrição: {{livro.descricao}}</p>
		<p>Sinopse: {{livro.sinopse}}</p>
		<p>URL: {{livro.links}}</p>

		<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cd-example-modal-lg" ng-click="editarLivro(livro)">Editar</button>
		<div class="modal fade cd-example-modal-lg" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<livro conteudo="conteudo"></livro>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-secondary" ng-click="excluirLivro(livro)">Excluir</button>
	</div>
</div>
